body { margin: 10%;}

.top { display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px; }

.left {
    display: block; 
    text-align: left;
    padding-left: 250px;}

.Titletext { font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    width: 400px;
    font-weight: 750;
    font-style: normal;
    color: hsl(300, 43%, 22%); 
    font-size: 40px;}

.Subtitle {  font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: hsl(303, 10%, 53%);
    font-size: 15px;
    line-height: 110%;
}



.StarTop {font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: hsl(300, 43%, 22%); 
    font-size:15px;
    font-weight: bolder;
    margin-left: auto}

.container {
    display: flex;
    flex-wrap: wrap; 
    gap: 50px;

   }

.container1 {
    width : 300px;
    background-color: hsl(300, 43%, 22%);
    border-radius: 5px;
    height: 200px;
    width : 350px;
    display: flex;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:hsl(0, 0%, 100%);
    padding: 10px;

}

.container2 {
    width : 300px;
    background-color: hsl(300, 43%, 22%);
    border-radius: 5px;
    height: 200px;
    width : 350px;
    display: flex;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:hsl(0, 0%, 100%);
    padding: 10px;
    margin-top: 20px;
}


.container3 {
    width : 300px;
    background-color: hsl(300, 43%, 22%);
    border-radius: 5px;
    height: 200px;
    width : 350px;
    display: flex;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:hsl(0, 0%, 100%);
    padding: 10px;
    margin-top: 40px;
}

.container img {
    height: 60px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
.colton { border-radius: 40px;

}

.irene { border-radius: 40px;

}

.anne { border-radius: 40px;

}

.vb { color: hsl(303, 10%, 53%);
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    }